
# # Playwright
# node_modules/
# /test-results/
# /blob-report/
# /playwright/.cache/
# /playwright/.auth/
# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Playwright reports & results
playwright-report/
test-results/
blob-report/

# IDE/editor
.vscode/
.idea/
.DS_Store

# Local env
.env
